* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("../public/media/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.landingPageContainerHome {
  width: 100vw;
  height: 100vh;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.navbar__logo {
  font-size: 2.3rem;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
}

.navbar__links {
  list-style: none;
  display: flex;
  gap: 3rem; /* Spacing between links */
  margin-right: 3%;
  padding-right: 5%;
}

.navbar__links li {
  display: inline-block;
  font-size: 1.2rem;
}

.navbar__links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}
.navbar__links :hover {
  color: #fff;
  background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 9s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
}

@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}


/* video meet */
.meetVideoContainer {
  position: relative;
  height: 100vh;
  background: rgb(1, 4, 48);
}

.meetUserVideo {
  position: absolute;
  bottom: 10vh;
  height: 20vh;
  width: auto;
  left: 0;
  border-radius: 20px;
}

.buttonContainers {
  position: absolute;
  width: 100vw;
  bottom: 0;
  text-align: center;
}

.buttonContainers svg {
  font-size: 3rem;
}

.conferenceView { 

  display: flex;
  
  padding: 10px;
  gap: 10px;
}

.conferenceView  video {
  margin-top: 5%;
  width: 40vw;
  height: 50vh;
  min-width: 30vw;
  border-radius: 10px;
}

.chatRoom {
  position: absolute;
  height: 95vh;
  right: 0;
  background: white;
  border-radius: 10px;
  width: 30vw;
  padding-inline: 20px;
}

.chatContainer {
  position: relative;
  height: 100%;
}


.chattingArea {
  position: absolute;
  bottom: 0;
}